Repository Salazq/microservice-app-example: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-2.yml, azure-pipelines-3.yml, azure-pipelines-4.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: BuildWithMaven
      steps:
      - task: JavaToolInstaller@0
        inputs:
          versionSpec: '8'
          jdkArchitectureOption: x64
          jdkSourceOption: PreInstalled
      - script: 'echo "Java version:"
  
          java -version
  ...

azure-pipelines-2.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: BuildAuthAPI
      steps:
      - task: GoTool@0
        inputs:
          version: 1.18.2
        displayName: Install Go $(GO_VERSION)
      - script: 'mkdir -p ''$(system.defaultWorkingDirectory)/bin''
  
  ...

azure-pipelines-3.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build_and_Test
    jobs:
    - job: InstallDeps
      steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '3.8'
          architecture: x64
        displayName: Install Python 3.8
      - script: 'cd log-message-processor
  
  ...

azure-pipelines-4.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build_and_Test
    jobs:
    - job: InstallDeps
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 8.x
        displayName: Instalar Node.js
      - script: 'cd todos-api
  
          npm install
  
          npm run build
  
          '
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build_and_Test
    jobs:
    - job: BuildFrontend
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 8.17.0
        displayName: Install Node.js
      - script: 'cd frontend
  
          npm install --no optionals
  
          npm run build
  
  ...

Test changes
  frontend/src/components/Login.vue
  log-message-processor/main.py
Due: azure-pipelines-3.yml, azure-pipelines.yml

Test changes
  frontend/Dockerfile
Due: azure-pipelines.yml

Test changes
  frontend/src/components/Login.vue
Due: azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Update README.md
  README.md
Due: none

Add documentatio
  Docker-compose.yml
  nginx/nginx.conf
  nginx/rate_limit.conf
Due: none

Fix rate limit
  nginx/rate_limit.conf
Due: none

Example change
  frontend/src/components/Login.vue
Due: azure-pipelines.yml

Add rate limit frontend alert
  nginx/nginx.conf
  nginx/rate_limit.conf
Due: none

Update azure-pipelines-2.yml for Azure Pipelines
  azure-pipelines-2.yml
Due: none

Update azure-pipelines-5.yml for Azure Pipelines
  azure-pipelines-5.yml
Due: none

Update azure-pipelines-4.yml for Azure Pipelines
  azure-pipelines-4.yml
Due: none

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

test
  frontend/src/components/Login.vue
Due: azure-pipelines.yml

For live change
  frontend/src/components/Login.vue
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: users-api
  azure-pipelines-2.yml: any of: auth-api
  azure-pipelines-3.yml: any of: log-message-processor
  azure-pipelines-4.yml: any of: todos-api
  azure-pipelines.yml: any of: frontend
